<div>
  <h2 id="page-heading" data-cy="TerminalHeading">
    <span>Terminals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-terminal"
        [routerLink]="['/terminal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Terminal </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="terminals?.length === 0">
    <span>No terminals found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="terminals && terminals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="created"><span>Created</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="payedBy"><span>Payed By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="payedToDate"><span>Payed To Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="number"><span>Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subscriptionRenewalEnabled">
            <span>Subscription Renewal Enabled</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subscriptionRenewalTrialCount">
            <span>Subscription Renewal Trial Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subscriptionPeriod"><span>Subscription Period</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="active"><span>Active</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="errorMessage"><span>Error Message</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="company.id"><span>Company</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let terminal of terminals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/terminal', terminal.id, 'view']">{{ terminal.id }}</a>
          </td>
          <td>{{ terminal.created | formatMediumDatetime }}</td>
          <td>{{ terminal.payedBy }}</td>
          <td>{{ terminal.payedToDate | formatMediumDatetime }}</td>
          <td>{{ terminal.number }}</td>
          <td>{{ terminal.name }}</td>
          <td>{{ terminal.description }}</td>
          <td>{{ terminal.subscriptionRenewalEnabled }}</td>
          <td>{{ terminal.subscriptionRenewalTrialCount }}</td>
          <td>{{ terminal.subscriptionPeriod }}</td>
          <td>{{ terminal.active }}</td>
          <td>{{ terminal.errorMessage }}</td>
          <td>
            <div *ngIf="terminal.company">
              <a [routerLink]="['/company', terminal.company?.id, 'view']">{{ terminal.company?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/terminal', terminal.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/terminal', terminal.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(terminal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="terminals && terminals.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
